.ocultar{
    display: none;
}

.ocultar2{
    display: none;
}

main{
    background-color: #9FA2B2;
}

.bienvenida{
    background-color:#DBC2CF
}

.personajeMain{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    margin: 10px;

    &.ocultarPersonaje{
        display: none;
    }
    

    .personaje{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        background-color:  #bda8b3f6;
        font-size: 0.8rem;
        border: 5px solid black;
        border-radius: 5px;
        padding: 1rem;

        img{
            height: 150px;
            justify-self: center;
            align-self: center;
        }

        &:hover{
            transform: scale(1.1);
            background-color:#DBC2CF ;
        }
    }
    
}

.nes-btn{
    &:hover{
        background-color: #3C7A89;
    }
}

.title{
    border: 5px solid black;
    background-color: #9FA2B2;
}
.preguntaDiv{
    display: grid;
    background-color: #DBC2CF;

     &.ocultar{
         display: none;
     }

     

 }


.dialog-default{
   &.ocultar{
    display: none;
   } 

}

.divDialogo{
    display: flex;
    flex-direction: column;
    display: none;

    &.mostrarDivDialogo{
        display: flex;
    }
}

.divPregunta{

    display: flex;
    align-items: center;

    .puntaje{
        position: fixed;
        font-size: 10px;
        margin-left: 4rem;
    }

    .img{
        height: 50px;
        width: 50px;
    }
}

.textoFinal{
    background-color:  #DBC2CF ;
}