*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    
    border: 5px solid black;
    padding: 7%;
}

html, body, pre, code, kbd, samp {
    font-family: 'Press Start 2P', cursive;
  }

.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    background-color: #a6a5a5;
  
    .bienvenida2{
        margin: 3rem;
        background-color: white;
       
    }

    .nombre{
        margin-bottom: 2rem;
    }
}

.img{
    width: 200px;
}